/* css syntax */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-nav nav {
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    position: fixed;
    width: 100%;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

.list-a {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* margin-left: 6rem; */
    /* padding-right: 100px; */
}

.drop-down {
    width: 13.5%;
    list-style: none;
    display: none;
    position: absolute;
    box-shadow: 3px 2px 15px rgba(128, 128, 128, 0.363);
    background-color: white;
    border-top: 3px solid rgb(207, 74, 70);
}

.drop-down li {
    display: block;
    text-align: center;
    /* padding: 0 0 2rem 1rem; */
    /* padding-left: 0; */
}

.li-a a {
    display: inline-block;
    padding: 0.8rem 0;
}

.drop-down .li-a:hover {
    background-color: rgb(239, 239, 239);
    color: rgb(207, 74, 70);
    /* margin: 1rem; */
}

.drop-down1:hover .drop-down {
    display: block;
}

.li-a:hover {
    color: rgb(207, 74, 70);

}

.list-a>li {
    padding: 0rem -2rem 0rem 5rem;
    margin: 1.3rem 0rem 0rem 2rem;
}

.nav {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.nav:hover {
    color: rgb(204, 204, 204);
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.list-a select {
    border: none;
}

.btn-a {
    width: 10%;
    text-align: center;
    padding: 16px 0px 0px 0px;
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
}

.btn-a a {
    font-weight: 700;
    color: white;
}

.header-1 {
    margin-bottom: 2rem;
    background-image: url(./assets/background34.jpg);
    height: 100vh;
    text-align: center;
    justify-content: center;
    background-position: center;
}

.header-1 h1 {
    color: white;
    font-size: 71.935px;
    font-weight: 700;
    font-family: sans-serif;

}

.header-1 h2 {
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-size: 29.6px;
    font-weight: 700;
    color: white;
    padding: 15.04px;
}

.parent-cont-1 {
    padding-top: 19rem;
    /* position: relative; */
    /* top: 299px; */
}

.button-1 {
    background-color: rgb(207, 74, 70);
    color: rgba(255, 255, 255, 0.795);
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    padding: 14px;
    width: 179px;
}

.button-1:hover {
    transition: 0.8sec;
    background-color: rgb(145, 26, 22);
}

.faith {
    text-align: center;
    font-size: 35.2px;
    font-family: sans-serif;
    margin: 4rem;
    padding: 0px 0px 0px 10px;
    font-weight: 700;
}

.statement {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.statement-child {
    width: 330px;
    text-align: center;
    margin: 1.5rem;
    margin-bottom: 3rem;
}

.statement-child h4 {
    font-weight: 700;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.statement-child p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0px 0px 48px;
}

.welcome {
    background-color: rgb(207, 74, 70);
    color: white;
    width: 100%;
    /* margin: 0rem; */
    padding: 44.5px;
}

.welcome-sect {
    display: flex;
    justify-content: space-around;
}

.schedule {
    margin-left: 2.6rem;
}

.para-schedule {
    font-family: "Crimson Text", serif;
    font-size: 18.08px;
    font-style: italic;
    font-weight: 400;
}

.para-church {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.church {
    border-left: 1px solid rgba(255, 255, 255, 0.327);
    padding: 10px;
    padding-left: 20px;
}

.btn-read {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    width: 59px;
    padding: 10px 35px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.btn-read:hover {
    transition: 0.9sec;
    background-color: white;
    color: rgb(207, 74, 70);
}

.welcome-2 {
    background-color: rgb(239, 239, 239);
    padding: 130px 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
}

.welcome-sect-2 {
    margin-left: 6rem;
    background-color: white;
    padding: 50px 40px;
    width: 30%;
}

.timing {
    bottom: 85px;
    width: 41%;
    background-color: rgb(207, 74, 70);
    color: white;
    display: flex;
    justify-content: space-around;
}

.timing p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.events {
    text-align: center;
    font-size: 35.2px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: 4rem;
    margin-bottom: none;
}

.event-img {
    margin: 0rem 0rem 9.8rem 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
    padding: 0px 7rem 0px 208.2px;
}

.our-evt {
    width: 33%;
}

.our-evt h3 {
    text-align: start;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.event-img-1 img {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0rem 1rem 0rem;
}

.st-p {
    color: rgb(207, 74, 70);
}

.st-pa {
    color: rgba(0, 0, 0, 0.688);
    width: 100%;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 18.08px;
    font-style: italic;
    margin-top: 1rem;
}

.st-pau {
    margin-top: 1rem;
    width: 77%;
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    padding: 15.04px 0px 0px;
    font-weight: 400;
}

.lates {
    text-align: center;
    margin: 0rem 0rem 4.1rem 0rem;
    margin-bottom: 5rem;
}

.lates h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
}

.lates h4 {
    font-family: "Crimson Text", serif;
    font-size: 18.08px;
    font-style: italic;
    font-weight: 700;
    color: rgb(136, 136, 136);
}

.event-img-2 img {
    height: 34vh;
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 1rem 0rem;
}

.lates-news {
    margin: 0rem 0rem 9.8rem 0rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    /* align-items: center; */
    padding: 0px 7rem 0px 9.2rem;
}

.paragraph {
    width: 84%;
}

.paragraph h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0rem 0rem 1.4rem 0rem;
}

.paragraph h3:hover {
    /* font-size: 25px; */
    color: rgb(207, 74, 70);
}

.nov {
    color: rgb(207, 74, 70);
    font-size: 18.08px;
    font-weight: 400;
    font-family: "Crimson Text", serif;
    padding: 0px 0px 16px 0px;
}

.para-g {
    width: 90%;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.values {
    text-align: center;
}

.values h3 {
    color: rgb(51, 51, 51);
    font-size: 35.2px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1.1rem;
}

.values h4 {
    color: rgb(136, 136, 136);
    font-family: "Crimson Text", serif;
    font-size: 18.08px;
    font-weight: 700;
    margin-bottom: 45px;
}

.values-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 12rem;
}

.values-1 p {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 68%;
    /* padding: 0 0rem 0 10px; */
    margin: 0 20rem 0 5rem;
}

.faith-3 {
    margin-bottom: 3rem;
}

.faith-1 {
    display: flex;
    justify-content: space-around;
}


.lates-1 {
    text-align: center;
    margin: 10rem 0rem 4.1rem 0rem;
    margin-bottom: 2.6rem;
}

.lates-1 h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 51, 51);
}

.lates-1 h3 {
    font-family: "Crimson Text", serif;
    font-size: 18.08px;
    font-style: italic;
    font-weight: 700;
    color: rgb(136, 136, 136);
}

.faith-1 img {
    /* width: 50%; */
    padding: 0 0 1rem 80px;
    margin-right: 350px;
}

.faith-1 p {
    /* width: 85%; */
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 2rem 80px;
    margin: 0 0 11px 140px;
}

.faith-1 a {
    margin: 0 0 0 14rem;
    font-size: 16px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: rgb(207, 74, 70);
    border: 2px solid rgb(207, 74, 70);
    border-radius: 3px;
    padding: 1.1rem 2rem 1.1rem 2rem;
}

.faith-1 a:hover {
    color: white;
    background-color: rgb(207, 74, 70);
}

.faith-2 img {
    margin-right: 9rem;
}

.mary {
    background-image: url(./assets/background4.jpg);
    background-position: center;
    height: 102vh;
}

.mary-1 {
    color: white;
    text-align: center;
    margin: 0rem 0 0 12rem;
    padding-top: 3.4rem;
    width: 70%;
    font-family: "Poppins", sans-serif;
    font-size: 69px;
    font-weight: 400;
}

.mary-2 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 0 1rem 0;
    margin-bottom: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-size: 35.2px;
    font-weight: 400;
}

.mary-3 {
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 3px;
    margin: 0 0 0 41.5rem;
    padding: 16px 27px;
    width: 11%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.mary-3:hover {
    transition: 0.6sec;
    color: rgb(207, 74, 70);
    border: 2px solid rgb(207, 74, 70);
    padding: 18px 29px;
    /* width: 28%; */
}

.pastors-list-1 {
    margin: 5.5rem 0 5.5rem 0;
}

.pastors-list-1>h3 {
    text-align: center;
    font-size: 35.2px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0 0 1rem 0;
}

.pastors-list {
    display: flex;
    justify-content: space-between;
    padding: 0 13rem 0 15rem;
}

.pastors-list h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem 0 1.5rem 0;
}

.pastors-list h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
    color: rgb(207, 74, 70);
}

.donation {
    background-color: rgb(239, 239, 239);
    padding: 4.5rem 0rem 5rem 0rem;
}

.donate-month {
    text-align: center;
}

.donate-month h3 {
    font-family: "Poppins", sans-serif;
    font-size: 35.2px;
    font-weight: 700;
}

.donate-month h4 {
    font-family: "Crimson Text", serif;
    font-size: 17.6px;
    font-weight: 700;
    font-style: italic;
    color: rgb(136, 136, 136);
    margin: 1.6rem 0 4rem 0;
}

.donation-1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: center;
}

.donation-1 p {
    text-align: center;
    line-height: 34px;
    font-family: "Crimson Text", serif;
    font-size: 16px;
    word-spacing: 0px;
}

.donation-1 .sup {
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.205);
    border-bottom: 2px solid rgba(0, 0, 0, 0.205);
    padding: 1.6rem 0rem 1.6rem 0rem;
    margin: 1.6rem 0rem 0 0rem;
}

.donation-1 .sup span {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 48px;
    color: rgb(207, 74, 70);
}

.donation-1 .sup sup {
    vertical-align: super;
    font-size: 27.04px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 27.04px;
    color: rgb(207, 74, 70);
}

.donation-1 .sup p {
    color: rgb(207, 74, 70);
    font-family: "Crimson Text", serif;
    font-size: 17.6px;
    font-weight: 400;
    line-height: 24.64px;
    vertical-align: baseline;
}

.donation-1-1 {
    background-color: white;
    /* width: 18%; */
    /* padding: 0 0rem 1.6rem 0; */
    /* margin-right: 2rem; */
}

.donation-1-2 {
    background-color: white;
}

.donation-1-3 {
    background-color: white;
}

.donation-1-4 {
    background-color: white;
}

.donation-1 span {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 8px;
}

.donation-1 h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: 700;
}

.donation-1-1 h3 {
    background-color: rgb(41, 51, 58);
    color: white;
}

.donation-1-2 h3 {
    background-color: rgb(167, 61, 58);
    color: white;
    /* padding-bottom: 5rem; */
}

.donation-1-3 h3 {
    background-color: rgb(207, 74, 70);
    color: white;
}

.donation-1-4 h3 {
    background-color: rgb(221, 96, 67);
    color: white;
}

.donation-1 a {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 1.8rem 2rem 1rem 2rem;
    border: 2px solid rgba(128, 128, 128, 0.300);
    border-radius: 3px;
    /* width: 60%; */
    color: black;
    text-decoration: none;
    padding: 0.9rem 1rem 0.9rem 1rem;
    font-size: 14.08px;
    font-weight: 600;
    line-height: 21.12px;
    vertical-align: middle;
    font-family: sans-serif;
}

.donation-1 a:hover {
    background-color: rgb(207, 74, 70);
    color: white;
    border: none;
    transform: scale(1.1);
    transition: 0.8sec;
}

.footer {
    background-color: rgb(27, 33, 37);
    color: white;
    width: 100%;
    padding: 4.5rem;
    display: flex;
    justify-content: space-evenly;
}

.footer h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 35px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer li {
    list-style: none;
}

.footer-2 .footer-3 {
    width: 300px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.footer li {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 9px;
}

.footer-3 {
    margin-top: 4rem;
}

.footer a:hover {
    color: rgb(207, 74, 70);
}

.footer-bottom {
    text-align: center;
    color: white;
    padding: 2.2rem;
    margin-bottom: 0rem;
    background-color: rgb(23, 28, 31);
}

.footer-bottom p {
    font-size: 16px;
    font-weight: 400;

}

.footer-bottom span {
    color: rgb(207, 74, 70);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.bi {
    font-size: 48px;
    color: rgb(207, 74, 70);
}

.statement-icon:hover {
    padding-bottom: 3rem !important;
    transition: 1s;
    cursor: pointer;
    display: inline-block;
}

.bi-calendar4-week {
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.bi-geo-alt-fill {
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.bi-send-arrow-up-fill {
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

.bi-geo-2 {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-calendar-4 {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-arrow-2 {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-caret-down-fill {
    font-size: 10px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.549);
}

.bi-quote {
    font-size: 52px;
    font-weight: 400;
    display: block;
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: rgb(207, 74, 70);
}

.bi-quote-2 {
    font-size: 52px;
    font-weight: 400;
    display: block;
    text-align: right;
    font-family: "Poppins", sans-serif;
    color: rgb(207, 74, 70);
}

.bi-2 {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-telephone-fill {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-envelope-fill {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-globe-europe-africa-fill {
    font-size: 16px;
    color: rgb(207, 74, 70);
    margin-right: 6px;
}

.bi-chevron-right {
    font-size: 12px;
    margin-right: 8px;
    color: rgb(207, 74, 70);
}

@media screen (min-width: 320px) {

    .header-nav nav {
        display: grid;
    }

    .header-nav nav {
        display: grid;
        justify-content: space-around;
        padding: 0.6rem;
        position: fixed;
        /* width: 100%; */
        background-color: white;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .list-a {
        display: flex;
        justify-content: space-around;
        list-style: none;
        /* margin-left: 6rem; */
        /* padding-right: 100px; */
    }

    .drop-down {
        width: 13.5%;
        list-style: none;
        display: none;
        position: absolute;
        box-shadow: 3px 2px 15px rgba(128, 128, 128, 0.363);
        background-color: white;
        border-top: 3px solid rgb(207, 74, 70);
    }

    .drop-down li {
        display: block;
        text-align: center;
        /* padding: 0 0 2rem 1rem; */
        /* padding-left: 0; */
    }

    .li-a a {
        display: inline-block;
        padding: 0.8rem 0;
    }

    .drop-down .li-a:hover {
        background-color: rgb(239, 239, 239);
        color: rgb(207, 74, 70);
        /* margin: 1rem; */
    }

    .drop-down1:hover .drop-down {
        display: block;
    }

    .li-a:hover {
        color: rgb(207, 74, 70);

    }

    .list-a>li {
        padding: 0rem -2rem 0rem 5rem;
        margin: 1.3rem 0rem 0rem 2rem;
    }

    .nav {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .nav:hover {
        color: rgb(204, 204, 204);
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 600;
    }

    .list-a select {
        border: none;
    }

    .btn-a {
        width: 10%;
        text-align: center;
        padding: 16px 0px 0px 0px;
        border: 2px solid black;
        background-color: black;
        border-radius: 5px;
    }

    .btn-a a {
        font-weight: 700;
        color: white;
    }


}

/* VIDSON logo styles (restored)
.header-nav nav .logo-wrap {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 180px;
    height: auto;
    display: block;
}

Responsive: smaller logo on narrow screens and simplify header
@media (max-width: 768px) {
    .site-logo {
        width: 120px;
    }
    .header-nav nav {
        justify-content: space-between;
        padding: 0.6rem 1rem;
    }
    hide wide nav on small screens (you can add a mobile menu later)
    .list-a {
        display: none;
    }
    .btn-a {
        display: none;
    }
}

Keep page content visible below fixed header
body {
    padding-top: 64px;
} */